github_token          = ""
github_owner          = ""
github_repo           = ""
google_api_key        = ""
resource_group_name   = ""
storage_group_name    = ""
consumption_plan_name = ""
function_app_name     = ""
app_insights_name     = ""
email_app_registration_name = ""